body {
    background-color: rgb(31, 0, 0);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height:100vh;
    width:100vw;
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
}

#matchup-container{
    color:white;
    display:inline-block;
    height:1000px;
}

.album-container{
    margin:200px;
    margin-top:30px;
    margin-bottom:20px;
    width:500px;
    height:500px;
    float:left;
}

.album-container>img{
    width:400px;
    height:400px;
}

.toptext{
    color:white;
}

#namefield{
    width: 300px;
    height: 40px;
    font-size: 40px;
}

#winner{
    font-size: 60px;
    color:white;
}